<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost/tim12</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.hbm2ddl.auto">create-drop</property>
  <mapping resource="Korisnik.hbm.xml"/>
  <mapping resource="Materijal.hbm.xml"/>
  <mapping resource="MaterijalTipZahvata.hbm.xml"/>
  <mapping resource="ObavljeniZahvat.hbm.xml"/>
  <mapping resource="Pacijent.hbm.xml"/>
  <mapping resource="Termin.hbm.xml"/>
  <mapping resource="Posjeta.hbm.xml"/>
  <mapping resource="TipZahvata.hbm.xml"/>
  <mapping resource="UtroseniMaterijal.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
